pre {
  width: 100%;
  padding: 0.4rem;
  margin: 1rem 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 1rem;
  line-height: 20px;
  background: #efefef;
  border: 1px solid #777;
  border-radius: 4px;
}
pre code {
  color: rgb(1, 1, 1);
  font-weight: 200;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

p code {
  background-color: rgb(181, 196, 225);
}
